.cps {
  text-align: center;
  width: 90%;
  margin: 20px auto 0;
}

.cps input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  outline: 0;
  box-sizing: border-box;
}

.cps input:focus {
  background: #f5f5f5;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: #444;
}